* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Donegal+One', sans-serif;
    font-size: 18px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 2em 0;
}

nav a {
    border: solid black 1px;
    padding: 15px 40px;    
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding: 2em;
}

.appeal {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding: 2em;
}

.process {
    display: flex;
    border: solid black 1px;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em;
}

.process-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* finished here 11.1.*/

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    height: 100px;   
}

.skillset {
    display: flex;
    flex-direction: column;
    border: solid black 1px;

}