form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 1em 0.5em;
}

.name {
    display: flex;
    justify-content: space-between;
}

.email_tel {
    display: flex;
    justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 25em;
    height: 2em;
}

textarea {
    height: 6em;
}

@media all and (max-width: 420px) {
    form > div {
        flex-direction: column;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
    width: 100%;
    }   
}
