.nav-menu {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0.5em 0;
    a {
        padding: 15px 50px;
        color: #2e2e2e;
        letter-spacing: 1px;
    }
    a:link {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
      }
}
        
@media all and (max-width: 850px) {
    .nav-menu {
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
