.nav-menu {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0.5em 0;
    a {
        padding: 15px 50px;
    }
}
        
@media all and (max-width: 830px) {
    .nav-menu {
        justify-content: space-between;
    }
}