* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Donegal+One', sans-serif;
    font-size: 18px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border: solid black 1px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 2em 0;
    a {
        border: solid black 1px;
        padding: 15px 50px;    
    }
}

.container {
    margin: 0, auto;
    width: 80vw;
    text-align: center;
}

.process .container .container2 {
        display: flex;   
        .process-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1em;
        }
    }
    
