@import 'fonts';
@import 'colors';
@import 'my_skills';
@import 'my_portfolio';
@import 'about_me';
@import 'find_me';
@import 'contact_me';
@import 'greeting';
@import 'nav';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font_paragraphs, sans-serif;
    font-size: 18px;
}

h1, 
h2, 
h3 {
    font-family: $font_headings, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

h1 {
    font-size: 2.5em;
    position: relative;
    bottom: 150px;
}

.welcome .container h2 {
    position: relative;
    bottom: 150px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.container {
    margin: 0, auto;
    width: 80vw;
    position: relative;
}

.welcome {
    background-image: url(/img/sushobhan-badhai-372964-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 550px;
    opacity: 0.9;
}

.appeal .container p {
    text-align: center;
}

.process {
    background-color: $primary-color;
}

.process .container .container2 {
        display: flex;   
        .process-container {
            margin: 0 1em;
    }   
}

@media all and (max-width: 830px) {
    .process .container .container2 {
        flex-direction: column;
    }
}